<section layout="row" flex>

  <md-sidenav class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Awesome Menu</h1>
    </md-toolbar>
    <md-content>
      <!-- <md-list-item>
        Reports
        <div flex></div>
        <i class="material-icons">explore</i>
        <md-menu class="md-secondary">
          <md-button >
          </md-button>
          <md-menu-content width="4">
<md-list-item ui-sref=".skills">
  Skills
  </md-list-item>
            <md-menu-item>
              <md-button>
                Client
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                Recruiter
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>
      <md-divider></md-divider> -->
      <md-list-item>
    <p>Reports</p>
    <div flex></div>
    <md-menu class="md-secondary">
    <i class="material-icons">explore</i>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ui-sref=".skills">
            Skills
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button>
          Client
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button>
            Recruiter
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </md-list-item>

  <md-divider></md-divider>

      <md-list-item ui-sref=".employees">

        Employees

        <div flex></div>
        <i class="material-icons">account_circle</i>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        Recruiters
        <div flex></div>
        <i class="material-icons">perm_identity</i>

      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        Request Quarter
        <div flex></div>
        <i class="material-icons">art_track</i>

      </md-list-item>
      <md-divider></md-divider>
    </md-content>
  </md-sidenav>
  <div flex ui-view layout="column"></div>
</section>
<!-- <mdt-table  paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"  mdt-row="{
                  data: nutritionList,
                  'table-row-id-key': '_id',
                    'column-keys': [
                        'first_name',
                        'last_name',
                        'client'

                    ]
                  }">

  <mdt-header-row>
    <mdt-column align-rule="left" column-sort="true">Skills</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Employee count</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Revenue</mdt-column>

  </mdt-header-row>


</mdt-table> -->
