<div  layout-margin>

 <md-card style="margin:0px">
           <md-input-container style="margin:15px;">
               <label>Filter by search</label>
               <input type="text" ng-model="filterID">
           </md-input-container>

           <div ng-hide="true">
               {{(filteredItems = (employeeList | filter: filterID))}}
           </div>
          <md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
          <span>Employees</span>
        </h2>
        <span flex></span>

        <md-button  class="md-icon-button"  ng-click="vm.deleteSelectedRows()" aria-label="Delete">
          <md-tooltip>Delete</md-tooltip>
        <i class="material-icons">delete</i>
        </md-button>

        <md-button class="md-icon-button" aria-label="Settings">

          <md-tooltip>Settings</md-tooltip>
        <i class="material-icons">&#xE8B8;</i>
        </md-button>


   </div>
</md-toolbar>
       </md-card>
 <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"
            table-card="{visible: true, title: 'Employees', columnSelector: true}"
            selectable-rows="true"

            delete-row-callback="deleteRowCallback(rows)"
            save-row-callback="saveRowCallback(row)"
            animate-sort-icon="true"

                mdt-row="{
                     'data': filteredItems,
                     'table-row-id-key': 'id',
                     'column-keys': ['employee_id', 'firstName', 'lastName', 'client', 'skills', 'recruiter',  'revenue']
                   }">



   <mdt-header-row >
     <mdt-column align-rule="left" column-sort="true" exclude-from-column-selector="true">ID</mdt-column>
     <mdt-column align-rule="left" column-sort="true">First Name</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Last Name</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Client</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Skills</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Recruiter</mdt-column>
     <mdt-column align-rule="left"column-sort="true">Revenue</mdt-column>
   </mdt-header-row>
   <mdt-row ng-repeat="employee in employeeList">
     <mdt-cell
               editable-field="smallEditDialog"
               editable-field-max-length="25">{{employee.employee_id}</mdt-cell>
     <mdt-cell>{{employee.firstName}}</mdt-cell>
     <mdt-cell>{{employee.lastName}}</mdt-cell>
     <mdt-cell>{{employee.client}}</mdt-cell>
     <mdt-cell>{{employee.skills}}</mdt-cell>
     <mdt-cell>{{employee.recruiter}}</mdt-cell>
     <mdt-cell>{{employee.revenue}}</mdt-cell>
   </mdt-row>
 </mdt-table>
</div>
