<div  layout-margin>

 <md-card style="margin:0px">
           <md-input-container style="margin:15px;">
               <label>Filter by search</label>
               <input type="text" ng-model="filterID">
           </md-input-container>

           <div ng-hide="true">
               {{(filteredItems = (employeeList | filter: filterID))}}
           </div>
         </md-card>
          <md-toolbar>
    <div class="md-toolbar-tools">

        <h2>
          <span>Employees</span>
      </h2>


        <span flex></span>

        <md-button  class="md-icon-button"  ng-click="vm.editSelectedRows()" aria-label="Edit">
          <md-tooltip>Edit</md-tooltip>
        <i class="material-icons" md-ink-ripple="#1df416">mode_edit</i>
        </md-button>


        <md-button  class="md-icon-button"  alternate-headers="'contextual'"ng-click="vm.deleteSelectedRows()" aria-label="Delete">
          <md-tooltip>Delete</md-tooltip>
        <i class="material-icons" md-ink-ripple="#1df416">delete</i>
        </md-button>


<md-button>
        <md-switch ng-model="data.cb2" aria-label="Switch 2"  ng-hide="" ng-true-value="'Activate'" ng-false-value="'Deactivate'" class="md-warn">
            {{ data.cb2 }}
        </md-switch>
</md-button>



   </div>
</md-toolbar>
       </md-card>
       <md-button class=" md-primary">
         Add  an Employee <md-tooltip>Another one??? Really????</md-tooltip>
       </md-button>
       <mdt-table table-card="{visible: true, columnSelector: true}"
                  selectable-rows="true"

                  save-row-callback="saveRowCallback(rows)"
                  delete-row-callback="deleteRowCallback(rows)"
                  alternate-headers="'contextual'"
                  paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"
                  selected-row-callback="selectedRowCallback(rows)"
                  animate-sort-icon="true"

                 mdt-row="{
                     'data': filteredItems,
                     'table-row-id-key': 'id',
                     'column-keys': ['employee_id', 'firstName', 'lastName', 'client', 'skills', 'recruiter',  'revenue']
                   }">



   <mdt-header-row >
     <mdt-column align-rule="left" column-sort="true" exclude-from-column-selector="true">ID</mdt-column>
     <mdt-column align-rule="left" column-sort="true">First Name</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Last Name</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Client</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Skills</mdt-column>
     <mdt-column align-rule="left" column-sort="true">Recruiter</mdt-column>
     <mdt-column align-rule="left"column-sort="true">Revenue</mdt-column>
   </mdt-header-row>
   <!-- <mdt-row ng-repeat="employee in employeeList">
     <mdt-cell
               editable-field="smallEditDialog"
               editable-field-max-length="25">{{employee.employee_id}</mdt-cell>
     <mdt-cell>{{employee.firstName}}</mdt-cell>
     <mdt-cell>{{employee.lastName}}</mdt-cell>
     <mdt-cell>{{employee.client}}</mdt-cell>
     <mdt-cell>{{employee.skills}}</mdt-cell>
     <mdt-cell>{{employee.recruiter}}</mdt-cell>
     <mdt-cell>{{employee.revenue}}</mdt-cell>
   </mdt-row> -->
 </mdt-table>
</div>
