<md-dialog flex="60" layout="column">
  <!-- <md-content layout-padding> -->
    <form name="projectForm" ng-submit=add(project.emp) novalidate>

      <!-- <h3> Employee Info </h3> -->
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Employee Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">cancel</i>
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
      <md-dialog-content layout-padding>
        <div layout-gt-xs="row">
          <md-input-container flex="60">
            <label>First Name</label>
            <input required name="FirstName" ng-model="project.emp.first_name">
          </md-input-container>
          <md-input-container flex="60">
            <label>Last Name</label>
            <input required name="LastName" ng-model="project.emp.last_name">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex="60">
            <label>Client</label>
            <input required name="client" ng-model="project.emp.client">
          </md-input-container>
          <md-input-container flex="60">
            <label>Skills</label>
            <input required name="skills" ng-model="project.emp.skill">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex="60">
            <label>Recruiter</label>
            <input required name="recruiterName" ng-model="project.emp.recruiter">
          </md-input-container>
          <md-input-container class="md-block" flex="60">
            <label>Placement Type</label>
            <md-select name="placement_type" ng-model="project.emp.placement_type" required>
              <md-option value="Part-time">Part-time</md-option>
              <md-option value="Full-time">Full-time</md-option>
              <md-option value="Project">Project</md-option>
            </md-select>
          </md-input-container>
          <!-- <md-input-container flex="60">
        <label>Placement Type</label>
        <md-select name="placement_type" ng-model="project.emp.type" ng-model-options="{trackBy: '$value.value'}" required>
          <md-option ng-repeat="type in project.types" ng-value="type">
            {{type.label}}
          </md-option>
        </md-select>
      </md-input-container> -->
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex="60">
            <label>Salary (USD)</label>
            <input required type="number" step="any" name="rate" ng-model="project.emp.salary">
            <div ng-messages="projectForm.salary.$error" multiple md-auto-hide="false">
              <div ng-message="required">Required field. "Please enter a number"</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex="60">
            <label>Insurance (USD)</label>
            <input required type="number" step="any" name="rate" ng-model="project.emp.insurance">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex="60">
            <label>Relocation</label>
            <input required type="number" name="Relocation" ng-model="project.emp.relocation">
          </md-input-container>
          <md-input-container class="md-block" flex="60">
            <label>Immigration</label>
            <input required type="number" name="immigration" ng-model="project.emp.immigration">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex="60">
            <label>Pay Vacation Cost (USD)</label>
            <input required type="number" step="any" name="pay_vacation_cost" ng-model="project.emp.pay_vacation_cost">
          </md-input-container>

          <md-input-container class="md-block" flex="60">
            <label>Ksquare Hourly Cost (USD)</label>
            <input required type="number" step="any" name="ksquare_hourly_cost" ng-model="project.emp.ksquare_hourly_cost">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex="60">
            <label>Target Bill Rate (USD)</label>
            <input required type="number" step="any" name="target_bill_rate" ng-model="project.emp.target_bill_rate">
          </md-input-container>

          <md-input-container class="md-block" flex="60">
            <label>Client Bill Pay (USD)</label>
            <input required type="number" step="any" name="client_bill_pay" ng-model="project.emp.client_bill_pay">
          </md-input-container>
        </div>
        <div>
          <md-button ng-disabled="!projectForm.$valid" type="submit">Submit</md-button>
          <!-- <md-button type="cancel" >Cancel</md-button> -->
        </div>
      </md-dialog-content>
    </form>
  <!-- </md-content> -->
</md-dialog>
