<md-dialog flex="60" layout="column">
<md-content layout-padding>
  <form name="projectForm">

    <h3> Employee Info </h3>
<md-dialog-content>
    <div layout-gt-xs="row">
      <md-input-container flex="60">
        <label>First Name</label>
        <input required name="FirstName" ng-model="project.firstName">
      </md-input-container>
      <md-input-container flex="60">
        <label>Last Name</label>
        <input required name="LastName" ng-model="project.lastName">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container flex="60">
        <label>Client</label>
        <input required name="client" ng-model="project.clientName">
      </md-input-container>
      <md-input-container flex="60">
        <label>Skills</label>
        <input required name="skills" ng-model="project.skills">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container flex="60">
        <label>Recruiter</label>
        <input required name="recruiterName" ng-model="project.recruiterName">
      </md-input-container>

      <md-input-container flex="60">
        <label>Placement Type</label>
        <md-select name="type" ng-model="project.type" required>
          <md-option>Part-time</md-option>
          <md-option >Full-time</md-option>
          <md-option >Project</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex="60">
        <label>Salary (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.salary" >
      </md-input-container>

      <md-input-container class="md-block" flex="60">
        <label>Insurance (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.insurance">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex="60">
        <label>Relocation</label>
        <input required name="Relocation" ng-model="project.relocation">
      </md-input-container>
      <md-input-container class="md-block" flex="60">
        <label>Immigration</label>
        <input required name="immigration" ng-model="project.immigration">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex="60">
        <label>Pay Vacation Cost (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.vacation">
      </md-input-container>

      <md-input-container class="md-block" flex="60">
        <label>Ksquare Hourly Cost (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.hourly">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex="60">
        <label>Target Bill Rate (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.billrate">
      </md-input-container>

      <md-input-container class="md-block" flex="60">
        <label>Client Bill Pay (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.billpay">
      </md-input-container>
    </div>
      <div>
        <md-button type="submit">Submit</md-button>
      </div>
</md-dialog-content>
  </form>
</md-content>
</md-dialog>
